<!DOCTYPE html>
<html>
    <head>
        <title>Where did I put that thingy?</title>
        <!-- disables favicon for testing - rendering seems to stop if not found
        --  https://webmasters.stackexchange.com/questions/34544/can-i-instruct-the-browser-not-to-look-for-a-favicon  
        
        <link rel="shortcut icon" href="about: blank">
        -->
        <link href="404.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!--
        <img src="404.jpg" alt="even my 404.jpg can't be found">
        -->
        <div>bler</div>
    </body>
</html>